#root{
  display: block;
  width: 70%;
  margin: 0 auto;
}

body{
  background: $wet-asphalt;
  color: $clouds;
  font-family: helvetica, sans-serif;
  padding: 0;
  min-width: 400px;
}

#welcome {
  text-align: center;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.container-item {
  min-width: 100px;
}

#clock {
  display: absolute;
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 30px;
  text-shadow: 0 1px $concrete;
}
