// using one highlight color in case of change
$highlight: $clouds; 
// same for bg color
$bg_col: $wet-asphalt;
// a common border size
$border_size: 5px;
$margin_size: 10px;

#Notes{
  width: 40em;
}

#Events{
  width: 40em;
}

@mixin border_around_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: $margin_size;
}

.box {
  @include border_around_box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: $border_size solid;
  .box-item {
    @include border_around_box;
    border: 2px solid;
    padding: $margin_size $margin_size;
    h2 {
      margin: 0 0;
    }
    hr{
      height: 1px;
      background-color: $highlight;
    }
  }
  #box-title {
    margin-top: $margin_size;
    margin-bottom: $border_size;
    text-align: center;
    font-size: 32px;
  }
  hr{
    width: 100%;
    height: $border_size;
    border: none;
  }
  p {
  }
  #created-at {
    font-size: 12px;
    text-align: right;
  }
}

#dotted-line hr {
  border: 2px dotted;
  border-style: none none dotted; 
  color: #fff; 
}

#btn button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: $border_size;
  font-size: 20px;
  color: $bg_col;
  font-weight: 500;
}

// create a custom box layout
// with clouds as default color
@mixin custom-box($col) {
  border-color: $col;
  #btn button{
    background: $col;
  }
  hr {
    background: $col;
  }
  #box-title {
    color: $col;
  }
}

.turquoise{ @include custom-box($turquoise); }
.carrot{ @include custom-box($carrot); }
.emerald{ @include  custom-box($emerald); }
.sun-flower{ @include custom-box($sun-flower); }

.group {
	position: relative;
}

@mixin easeAll {
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

input {
  background: none;
  margin-top: 5px;
  color: $clouds;
  width: 100%;
	border: none;
  &::placeholder {
    color: $concrete;
  }
  &[type~='submit']{
    display: none;
  }
  &[name~='title'] {
    font-size: 18px;
  }
  &[name~='content'] {
    font-size: 14px;
  }
	&:focus {
		outline: none;
		&~.bar {
			&:before {
				width: 50%;
			}
			&:after {
				width: 50%;
			}
		}
	}
}
@mixin bottomBar {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $carrot;
  @include easeAll;
}
.bar {
	&:before {
    @include bottomBar;
		left: 50%;
	}
	&:after {
    @include bottomBar;
		right: 50%;
	}
}

