.react-datepicker__time-list {
  padding: 0px;
}

.datepicker, .input-fields {
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.datepicker {
  margin: 0 auto;
}

.event-input {
  padding: 0.3em;
  font-size: 1em;
}